{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Login
    {% endblock %}
</head>
{% block content %}
    <body>
    <h1>Login Here</h1>
    <div class="form-group">
        <form method="post">
            <table>
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <br>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

            </table>
            <button class="btn btn-danger">Login</button>
        </form>
    </div>
    </body>
{% endblock %}
</html>