{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {{ post.title_tag }}
    {% endblock %}
</head>
{% block content %}
    <body>
    <h1>Add Comment Here</h1>
    <div class="form-group">
        <form method="post">
            <table>
                {% csrf_token %}
                {{ form.as_p }}
            </table>
            <button class="btn btn-danger">Comment</button>
        </form>
    </div>
    </body>
{% endblock %}
</html>