{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {{ post.title_tag }}
    {% endblock %}
</head>
{% block content %}
    <h1>Author: {{ post.author.id }}</h1>
    <h1>User: {{ user.id }}</h1>
    <body>
    <h1><big> {{ post.author }} on {{ post.date }} </big></h1>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a> or
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% elif user.is_superuser %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a> or
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}
    <hr>
    </br>
    <div>
        <br>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}">
        {% endif %}
        <br>
        {{ post.body|safe }}
    </div>
    <br>
    <a href="{% url 'home' %}" class="btn btn-danger"> Home </a>
    </body>
    <br>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked %}
                <button type="submit" , name="post_id" , value="{{ post.id }}" ,
                        class="btn btn-success btn-sm">Unlike
                </button>
            {% else %}
                <button type="submit" , name="post_id" , value="{{ post.id }}" ,
                        class="btn btn-primary btn-sm">Like
                </button>
            {% endif %}
        </form>
    {% else %}
        You must be logged in to like or unlike <br> <br>
    {% endif %}
    <br>
    <br>
    So far this post has: {{ total_likes }} Likes <br><br>

    <h2>Comments:</h2>

    {% if not post.comments.all %}
    No comments yet. <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
    {% else %}

        {% for comment in post.comments.all %}
            <strong> {{ comment.name }} - {{ comment.body }} </strong>, from : {{ comment.date_added }}
            <br>
        {% endfor %}
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
    {% endif %}

    <br><br><br>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">

                {% if post.author.profile.profile_pic %}

                    <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">

                {% else %}
                    <img src="{% static 'final/images/generic_user.jpg' %}" class="card-img">

                {% endif %}

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                    <p class="card-text">Contacts:<br>

                        <a href="{% url 'show_profile' post.author.profile.id %}"> Profile Page </a><br>
                        <a href="{{ post.author.profile.website_url }}"> Website </a><br>
                        <a href="{{ post.author.profile.facebook_url }}"> Facebook </a><br>
                        <a href="{{ post.author.profile.instagram_url }}"> Instagram </a><br>
                    </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<br>
</html>