{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {{ post.title_tag }}
    {% endblock %}
</head>
{% block content %}
    <h1>Author: {{ post.author.id }}</h1>
    <h1>User: {{ user.id }}</h1>
    <body>
    <h1><big> {{ post.author }} on {{ post.date }} </big></h1>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a> or
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% elif user.is_superuser %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a> or
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}
    <hr>
    </br>
    <div>
        {{ post.body|safe }}
    </div>
    <br>
    <a href="{% url 'home' %}" class="btn btn-danger"> Home </a>
    </body>
{% endblock %}
<br>
</html>